{% extends 'inc/base.html' %}

{% include 'inc/nav.html' %}
{% block main_body %}
<h2>Edit Student</h2>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Name</label>
    <input type="text" id="first_name," name="name" value="{{data.name}}" />

    <label>Email</label>
    <input type="email" id="last_name," name="email" value="{{data.email}}" />

    <label>Roll Number</label>
    <input type="text" id="last_name," name="roll_number" value="{{data.roll_number}}" />

    <label>Course</label>
    <input type="text" id="first_name," name="course" value="{{data.course}}" />

    <label>Semester</label>
    <input type="text" id="last_name," name="semester" value="{{data.semester}}" />

    <input type="submit" value="Submit" />
  </form>
{% endblock main_body %}
    